---
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro'

export async function getStaticPaths() {
  const productsEntries = await getCollection('product');

  console.log(productsEntries)

  return [
    ...productsEntries.map(entry => {
      const [category, slug] = entry.slug.split("/")

      return {
        params: { category, slug }, props: { entry },
      }
    }),
  ];
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={"merhaba"}>
  <div class="container">
    <h1>{entry.data.title}</h1>
    <Content />
  </div>
</Layout>