---
export interface Props {
	imageSource: string;
	title: string;
	category: string;
}

const { imageSource, title, category } = Astro.props;

const imgSrc = `url(${imageSource})`
---

<div class="col">
	<div class="card h-100 custom-card">
		<img src={imageSource} alt="" class="card-img-top object-fit-cover" />
		<div class="card-body">
			<div class="card-title">{title}</div>
			<div class="card-text">{category}</div>
		</div>
	</div>
</div>