---
import largeLogo from "../assets/logo-2.svg"
import Instagram from './Instagram.astro'

---

<footer class="py-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-2 mb-3">
        <img src={largeLogo.src} alt="Rejenerasyon Biyoteknoloji" />
      </div>

      <div class="col-4 col-md-3 mb-3 offset-1">
        <h5>Ürün Gruplarımız</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cilt bakım ürünleri</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Saç bakım ürünleri</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ağız bakım ürünleri</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Natural burun spreyi</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Gıda takviyeleri</a></li>
        </ul>
      </div>

      <div class="col-4 col-md-3 mb-3">
        <h5>Hızlı erişim</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Anasayfa</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hakkımızda</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">İletişim</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Banka bilgileri</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sertifikalarımız</a></li>
        </ul>
      </div>

      <div class="col-4 col-md-3 mb-3">
        <h5>Müşteri hizmetleri</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Destek</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Üyelik Sözleşmesi</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Satış sözleşmesi</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Teslimat koşulları</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Garanti ve iade koşulları</a></li>
        </ul>
      </div>

      
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2023 Rejenerasyon Biyoteknoloji. Tüm hakları saklıdır.</p>
      <Instagram />
    </div>
  </div>
</footer>