---
import logo from '../assets/logo.svg'
---

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src={logo.src} alt="" height="20">
      </a>
    </div>

    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link active">Anasayfa</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ürünlerimiz
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Cilt Bakım Ürünleri</a></li>
          <li><a class="dropdown-item" href="#">Saç Bakım Ürünleri</a></li>
          <li><a class="dropdown-item" href="#">Ağız Bakım Ürünleri</a></li>
          <li><a class="dropdown-item" href="#">Natural Burun Spreyi</a></li>
          <li><a class="dropdown-item" href="#">Gıda Takviyeleri</a></li>
        </ul>
      </li>
      <li><a href="#" class="nav-link">İletişim</a></li>
    </ul>

    <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </header>
</div>